<% if current_user == message.user %>
<div class="my-message-container" id="message-<%= message.id %>">
  <p><span><%= message.content %><small><%= message.created_at.strftime("%l:%M%p") %></small></span></p>
</div>
<% else %>
<div class="message-container" id="message-<%= message.id %>">
  <i class="author">
    <span><%= message.user.nickname %></span>
  </i>
  <p><span><%= message.content %><small><%= message.created_at.strftime("%l:%M%p") %></small></span></p>
</div>
<% end %>