<div class="container text-center my-3">
  <h3><%= @chatroom.name %></h3>
  <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
    <% @chatroom.messages.each do |message| %>
      <%= render 'messages/message', message: message %>
    <% end %>

  <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
    <%= f.input :content, label: false, placeholder: "Type a message", input_html: { autocomplete: "off", autofocus: "autofocus" } %>
  <% end %>
  </div>
</div>