<div class="container text-center my-3">
  <h2 class="font-weight-light"><strong>Gift Options</strong></h2>
  <div class="">
    <% if @pot.gifts.any? %>
      <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">
        <div class="carousel-inner w-100" role="listbox">
          <div class="carousel-item active">
            <div class="col-md-4">

              <div class="card card-body backlogo", style="background-image: url(<%= @first_gift.photos.first.service_url if @first_gift.photos.any? %>)">

                <h2><%= @first_gift.name %></h2>
              <%# Votes: <%= @first_gift.votes %>
              <% if current_user.has_voted_in_pot?(@pot) %>
                <% if current_user.has_voted?(@first_gift) %>
                  <%= link_to "Cancel", downvote_pot_path(@pot, @first_gift), class: "btn-sm bgp", method: :post %>
                <% end %>
              <% else %>
                <%= link_to "Vote", upvote_pot_path(@pot, @first_gift), class: "btn-sm bgg", method: :post %>
              <% end %>
            </div>
          </div>
        </div>
        <% @pot.gifts.offset(1).each do |gift| %>
          <div class="carousel-item" class=>
            <div class="col-md-4">

              <div class="card card-body backlogo", style="background-image: url(<%= gift.photos.first.service_url if gift.photos.any? %>)">

                <h2><%= gift.name %></h2>
                <% if current_user.has_voted_in_pot?(@pot) %>
                  <% if current_user.has_voted?(gift) %>
                    <%= link_to "Cancel", downvote_pot_path(@pot, gift), class: "btn-sm bgp", method: :post %>
                  <% end %>
                <% else %>
                  <%= link_to "Vote", upvote_pot_path(@pot, gift), class: "btn-sm bgg", method: :post %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
        <a class="carousel-control-prev w-auto" href="#recipeCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next w-auto" href="#recipeCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <% end %>
  </div>
</div>
