<div class= "limiter">
  <div class= "text-center my-3">
    <div class= "wrap-newgift">
      <div class= "newpot-form">
        <span class= "newpot-form-title">
          <h3 class= pb-3>Add a Gift Option</h3>
        </span>
        <div>
          <%= simple_form_for [@pot, @gift] do |f| %>
            <%= f.input :name, label: "Gift's Name", placeholder: "PlayStation 5", input_html: { autocomplete: "off"} %>
            <%= f.input :price, label: "Price", placeholder: "10", input_html: { autocomplete: "off"} %>
            <%= f.input :photos, as: :file, input_html: { multiple: true } %>
            <div class= "container-btn-submit">
              <%= f.submit "Add Gift", class: "btn-bg bgp mt-3" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
