<div class= "limiter">
  <div class= "container-newpot">
    <div class= "wrap-newpot">
      <div class= "newpot-form">
        <span class= "newpot-form-title p-b-66">
          Create New Pot
        </span>
        <div>
          <%= simple_form_for(@pot)do |f| %>
            <%= f.input :name, label: "Pot name", placeholder: "B-day, Farewell party, Wedding gift, Christmas present... ", input_html: { autocomplete: "off"} %>
            <%= f.input :end_date, as: :string, placeholder: "DD/MM/YYYY", label: "Pot closing date:".html_safe, input_html: { class: "datepicker" } %>
            <%= f.input :description, label: "Description:", placeholder: "Lets others know more details about your idea", input_html: { autocomplete: "off"} %>
            <%= f.input :min_amount, label: "Minimum contribution:" %>
            <div class= "container-btn-submit">
              <%= f.submit "Create Pot", class: "btn-bg bgp mt-3" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
