<div class="container text-center my-3">
  <div class="d-flex justify-content-between">
  <% if  @pot.owner == current_user && @pot.active == false %>
    <%= link_to '<i class="fas fa-arrow-left fa-1x" style="color:black"></i>'.html_safe, dashboard_path  %>
    <%= link_to '<i class="far fa-window-close fa-1x" style="color:black"></i>'.html_safe, pot_path(@pot), method: :delete, data:{confirm: "Are you sure you want to delete the pot FOREVER??"} %>
  <% elsif @pot.owner == current_user %>
    <%= link_to '<i class="fas fa-arrow-left fa-1x" style="color:black"></i>'.html_safe, dashboard_path  %>
    <%= link_to '<i class="far fa-window-close fa-1x" style="color:black"></i>'.html_safe, finish_pot_path(@pot), method: :patch, data:{confirm: "Are you sure you want to permanantly close the pot and cash-out 💰??"} %>
  <% else %>
    <%= link_to '<i class="fas fa-arrow-left" style="color:black"></i>'.html_safe, dashboard_path  %>
  <% end %>
  </div>
  <div class="card p-2 bgt">
  <h2><%= @pot.name.capitalize %></h2>


    <% if @pot.active == false %>
      <div class="card p-2 bgp">
        <p><%= @pot.description %></p>
        <h3> Gift Date ➼ <%= @pot.end_date.strftime("%d %b %Y") %></h3>
        <h2> Total raised: <strong>€<%= @pot.total_amount/100 %></strong></h2>
        <% if (@pot.owner.contributions.where pot_id:(@pot)).last != nil %>
          <p><%= @pot.owner.first_name %> <%= @pot.owner.last_name %> - Contribution: €<%= (@pot.owner.contributions.where pot_id:(@pot)).last.amount_cents/100 %></p>
        <% end %>
        <% @pot.users.each do |user| %>
          <% if (user.contributions.where pot_id:(@pot)).last != nil %>
            <p><%= user.first_name %> <%= user.last_name %> - Contribution: €<%= (user.contributions.where pot_id:(@pot)).last.amount_cents/100 %></p>
          <% end %>
        <% end %>
      </div>
      <div class="card p-2 mt-2 pink">
        <% if @winner_gift != nil %>
          <h3> The winning gift 🎁</h3>
          <h2> <strong><%= @winner_gift.name %></strong> with <strong><%= @winner_gift.votes %></strong> votes.</h2>
        <% else %>
          <h2> NO GIFTS 😥</h2>
        <% end %>
      </div>
      <div class="container mt-2">
        <%= link_to '<i class="far fa-comments fa-2x" style="color:white"></i>'.html_safe, chatroom_path(@pot.chatroom.id), class: "btn-sqr bgy" %>
      </div>
    <% else %>

          <%#= CHECKING IF OWNER/MEMBER/NON-MEMBER AND DISPLAYING LINK TO SHARE OR JOIN ACCORDINGLY %>
      <% if @pot.owner == current_user || (@pot.users_pots.where user_id:(current_user)).exists? %>
          <%= link_to 'Invite to Pot'.html_safe, "whatsapp://send?text=I’m%20raising%20for%20a%20gift%20and%20I%20think%20you’d%20like%20to%20be%20part%20of%20it%20-%20join%20my%20pot:%20#{request.original_url}", class: "btn-inv" %>
      <% else %>
          <%= link_to "Join Pot", join_path(@pot), method: :post, class: "btn-inv-strong" %>
      <% end %>

      <div class="card p-2">
        <p><%= @pot.description %></p>
        <% if @pot.days_remaining == 0 %>
          <p>Pot is ending today!</p>
        <% elsif @pot.days_remaining == 1 %>
          <p>Date: <%= @pot.end_date.strftime("%d %b %Y")%> ➼ <strong><%= @pot.days_remaining %> Day left</strong> </p>
        <% elsif @pot.days_remaining > 0 %>
          <p>Date: <%= @pot.end_date.strftime("%d %b %Y")%> ➼ <strong><%= @pot.days_remaining %> Days left</strong> </p>
        <% end %>
        <h2><strong>💰 €<%= @pot.total_amount/100 %> raised 💰</strong></h2>
        <% @pot.contributions.each do |contribution| %>
          <p>€<%= contribution.amount_cents/100 %> contributed by <%= contribution.user.first_name %> <%= contribution.user.last_name %></p>
        <% end %>
        <% unless Contribution.where(user: current_user, pot: @pot).exists? %>
          <div class="cont-btn"><%= link_to '<i class="fas fa-hand-holding-usd fa-2x"></i>'.html_safe, new_pot_contribution_path(@pot) %></div>
        <% end %>
      </div>
      <div class= "card-pot px-2 py-1 card-pot-empty">
        <% @ordered_gifts.each do |gift| %>
          <ul>
            <li class="d-flex justify-content-between align-items-center mt-1">
              <span class="badge badge-primary badge-pill">Votes: <%= gift.votes %></span>
              <%= gift.name.capitalize %> - €<%= gift.price %>
              <% if @pot.owner == current_user %>
              <%= link_to '<i class="fas fa-trash" style="color:#D20E85"></i>'.html_safe, gift_path(gift), method: :delete %>
              <% end %>
            </li>
          </ul>
        <% end %>
      </div>
      <% if @pot.owner == current_user %>


      <%= render 'shared/carousell' %>
        <div class="container mt-2 d-flex justify-content-between mt-3">
          <p>
            <a class="btn-sqr bgp" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              <i class="fas fa-gift fa-2x" style="color:white"></i>
            </a>
          </p>
          <div class="collapse" id="collapseExample">
            <%= render 'shared/gift_form' %>
        </div>
      <%= link_to'<i class="far fa-comments fa-2x" style="color:white"></i>'.html_safe, chatroom_path(@pot.chatroom.id), class: "btn-sqr bgp" %>
        <% else %>
          <%= render 'shared/carousell' %>
          <div class="container mt-2 d-flex justify-content-around">
            <%= link_to '<i class="fas fa-sign-out-alt fa-2x" style="color:white"></i>'.html_safe, leave_path(@pot), class: "btn-sqr bgp", data:{confirm: "🏃‍♀️🏃‍♂️ Are you sure you whant to leave the pot FOREVER?? 🏃‍♀️🏃‍♂️"} %>
            <%= link_to '<i class="far fa-comments fa-2x" style="color:white"></i>'.html_safe, chatroom_path(@pot.chatroom.id), class: "btn-sqr bgp" %>
          </div>
        <% end %>
    <% end %>
  </div>
</div>
<div class="list-group">
  <button type="button" class="list-group-item list-group-item-action active">
    Owner - <%= @pot.owner.first_name %> <%= @pot.owner.last_name %>
  </button>
  <% @pot.users.each do |user| %>
    <button type="button" class="list-group-item list-group-item-action">
      Member - <%= user.first_name %> <%= user.last_name %>
    </button>
  <% end %>
</div>
