<h2>This is the show page</h2>
<ul>
  <li><%= @pot.name %></li>
  <li><%= @pot.description %></li>
  <li><%= @pot.min_amount %></li>
  <li><%= @pot.owner.first_name %></li>
  <li><%= @pot.users.first %></li>
  <li><%= @pot.gifts.first.votes %></li>
</ul>
