<div class="dash-container">
  <div class="show-text">
    <h2><%= @user.first_name %>'s Dashboard</h2>
  </div>

  <div class="dash-section">
    <h3 class= "text-center"> Pots Where <%= @user.first_name %> is Owner </h3>

    <% if @user.pots.count != 0 %>
      <% @user.pots.each do |pot| %>
        <ul>
          <li> <%= pot.name %></li>
          <li> to code: remaining time, contributors or members, cash raised </li>
        </ul>
      <% end %>
    <% else %>
      <ul>
        <li> <%="You're not leading any pots" %> </li>
      </ul>
    <% end %>
  </div>

  <div class="dash-section">
    <h3 class= "text-center"> Pots Where <%= @user.first_name %> is a Member </h3>

    May need to change schema for this?

    <% if @user.userspots.count != 0 %>
      <% @user.userspots.each do |userpot| %>
        <ul>
          <li> <%= pot.name %></li>
          <li> to code: remaining time, contributors or members, cash raised </li>
        </ul>
      <% end %>
    <% else %>
      <ul>
        <li> <%="You're not taking part in any pots" %> </li>
      </ul>
    <% end %>
  </div>
</div>
