<div class= "dash-container">
  <div class="show-text">
    <% @user = current_user  %>
    <h2 class= "text-center"><%= @user.first_name.capitalize %>'s Pots</h2>

  <% if @user.owned_pots.count != 0 %>
  <% @user.owned_pots.each do |pot| %>
    <div class="card-product">
    <%# <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" /> %>
      <div class="card-infos">
          <h3><%= link_to "#{pot.name}", pot_path(pot) %></h3>
          </div>
          <div class="card-amount">
           <p>Raised: <%= pot.min_amount %>€</p>
          </div> 
            <% end %>
        <% else %>
        <div class="flash flash-warning alert alert-dismissible fade show" role="alert">
          <span>You're not leading any pots! 💰 <a href="/pots/new">Create a Pot</a> now!</span>
          <a data-dismiss="alert" aria-label="Close">
            <i class="fas fa-times"></i>
          </a>
        </div>
      </div>
      <% end %>
    </div>
    </div>
</div>


  

<h3 class= "text-center"> Pots Where <%= @user.first_name %> is a Member </h3>


  <div class="card-product">
    

    <% if @user.pots.count != 0 %>
      <% @user.pots.each do |pot| %>
        <ul>
          <li> <%= pot.name %></li>
          <li> to code: remaining time, contributors or members, cash raised </li>
        </ul>
      <%end %>
    <% else %>
      <ul>
        <li><%="You're not taking part in any pots" %> </li>
      </ul>
    <% end %>
  </div>

  <div>
    <p> <%= link_to "Create Pot", new_pot_path %>
  </div>
</div>
