
<div class= "limiter">
  <div class= "container-newpot">
    <div class= "wrap-newpot">
      <div class= "newpot-form">
        <span class= "newpot-form-title p-b-66">
          <%= @user.first_name %>, contribute to <%=@pot.name %> below
        </span>
        <div>
          <%= simple_form_for [@pot, @contribution] do |f| %>
            <%= f.input :amount, label: "Contribution amount (suggested min #{@pot.min_amount}€)",  input_html: { autocomplete: "off"} %>
            <%#= f.input :note, label: "Add a short note for the pot beneficiary", input_html: { autocomplete: "off"} %>
            <div class= "container-btn-submit">
              <%= f.submit "Take me to pay", class: "btn-p mt-3" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

